<!-- Button trigger modal -->
<div class="d-grid gap-2 col-6 mx-auto">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Ingreso O Egreso
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="background-color:orange">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complete los Campos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:orange ">
            <button *ngIf="loading" class="btn btn-primary" type="button" disabled >
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
            <form *ngIf="!loading" [formGroup]='register' (ngSubmit)="signUp()">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control "
                  id="floatingInput"
                  placeholder="User_Name"
                  formControlName="user_name"
                />
                <label for="floatingInput">Enter your Name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control "
                  id="floatingInput"
                  placeholder="Entre your Email Address"
                  formControlName="email"
                />
                <label for="floatingInput">Enter your Email Address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control "
                  id="floatingInput"
                  placeholder="Entre your Password"
                  formControlName="password"
                />
                <label for="floatingInput">Entre your Password</label>
              </div>
              <div class="modal-footer align-items:center" >
                <button type="submit" class="btn btn-primary ancho alto">Save changes</button>
                <button type="button" class="btn btn-secondary ancho alto" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
