<div class="contenedor limpiarEstilos">
  <div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
    <div id="lista-ingresos">
      <div class="elemento limpiarEstilos" *ngFor="let entry of entrys">
        <div class="elemento_descripcion">{{ entry.concept }}</div>
        <div class="derecha limpiarEstilos">
          <div class="elemento_eliminar">
            <button class="elemento_eliminar--btn">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <div class="elemento_valor">+ {{ entry.amount }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
