<app-navbar></app-navbar>
<div class="container-fluid dashboard">
  <div class="container-type">
    <div class="row justify-content-md-center" style="text-align: center">
      <div class="col-md-6">
        <app-headboard ></app-headboard>
      </div>
    </div>
    <div class="container-type">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <app-form ></app-form>
        </div>
      </div>
    </div>
    <div class="container-type">
      <div
        class="row row-cols-2 justify-content-md-center"
        style="text-align: center"
      >
        <div class="col-md-6">
          <app-entry></app-entry>
        </div>
        <div class="col-md-6">
          <app-egress></app-egress>
        </div>
      </div>
    </div>
  </div>
</div>
