.dashboard-container{

  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items:center;
  // margin-top:px;
  padding:0 !important;
  margin:0 !important;
  // width:100vh;
  max-width:100%;

  min-height: 100%;
  align-items: center;
  justify-content: center;
  background: url('../../../assets/calculator-820330_1920.jpg');
  background-size:cover;
}

.container{
  margin-top:100px;
}

// .container-type{
//   // display: flex;
//   // flex-wrap: wrap;
//   // justify-content: center;
//   // align-items:center;
// }
