<app-navbar></app-navbar>
<div class="dashboard-container">
  <div class="container">
    <div class="row justify-content-md-center" style="text-align:center">
      <div class="col-md-6">
        <app-headboard></app-headboard>
      </div>
    </div>
    <div class="row row-cols-2 justify-content-md-center" style="text-align:center">
      <div class="col-md-6">
        <app-entry></app-entry>
      </div>
      <div class="col-md-6">
        <app-egress></app-egress>
      </div>
    </div>
  </div>
</div>
