<div class="contenedor limpiarEstilos">
  <div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
    <div id="lista-egresos">
      <div class="elemento limpiarEstilos" *ngFor="let egress of egresses">
        <div class="elemento_descripcion">{{ egress.concept }}</div>
        <div class="derecha limpiarEstilos">
          <div class="elemento_eliminar">
            <button type="submit" class="elemento_eliminar--btn" (click)="deleted(egress.id_budget) ">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <div class="elemento_valor">-{{ egress.amount |currency:'AR':'$':'1.2-2' }}</div>
          <div class="elemento_porcentaje">21%</div>
        </div>
      </div>
    </div>
  </div>
</div>
