.navbar{
  background-color:orange !important;
  // width:100vh;


  // .navbar-toggler{
  //   background-color:orange !important;
  // }
}

.offcanvas{
  background-color:orange !important;
  font-size:1.2em;
  align-items:center;
}

.nav-item{
    cursor:pointer;
}


