
.bg {
  background-color: #08090d;
  color: #ccc9dc;
  background-image: url('../../../assets/man-593333_1920.jpg');
  min-height: 93vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.content {
  position: absolute;
  text-align: center;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 100;
}
